{% extends 'base.html' %}

{% block content %}
{% load static %}

<style>
.category-link {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.category-link:hover {
    color: #444;
}

/* ---- CATEGORY CARD ---- */
.category-card {
    border: 1px solid #ddd;
    padding: 20px;
    width: 150px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
}

.category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.category-card img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 10px;
}
</style>

<h1>Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>
<br>

<section class="categories">
  <h2>Categories</h2>

  <div style="display:flex; gap:20px; flex-wrap:wrap; justify-content:center;">
    {% for category in categories %}
      <div class="category-card">
        <a href="{% url 'category_products' category.id %}" class="category-link">

          {% if category.image %}
            <img src="{{ category.image.url }}">
          {% else %}
            <img src="{% static 'no-image.png' %}">
          {% endif %}

          <p><strong>{{ category.name }}</strong></p>
        </a>
      </div>

    {% empty %}
      <p>No categories available.</p>
    {% endfor %}
  </div>

</section>

{% endblock %}
